@model ChairtyApplication.Models.Requist

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout Admin.cshtml";
}

<h2>Assign SubAdmine</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RequireMoney, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.RequireMoney, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequireMoney, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DetailsProblem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DetailsProblem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DetailsProblem, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (ViewBag.ruleid == 1)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.UserIdAssign, "UserIdAssign", htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.UserIdAssign, (SelectList) ViewBag.zeroooo, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.UserIdAssign, "", new {@class = "text-danger"})
                </div>
            </div>
        }
        else
        {

            <div class="form-group">
                @Html.LabelFor(model => model.UserIdAssign, "هل أنهيت الطلب", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.UserIdAssign,
                        (SelectList)ViewBag.ant
                        , htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.UserIdAssign, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
