@model ChairtyApp.Models.permissionTbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>permissionTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.perName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.perName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruleTbl.ruleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruleTbl.ruleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.perId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
