@model IEnumerable<ChairtyApp.Models.permissionTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.perName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ruleTbl.ruleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.perName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ruleTbl.ruleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.perId }) |
            @Html.ActionLink("Details", "Details", new { id=item.perId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.perId })
        </td>
    </tr>
}

</table>
