@model ChairtyApplication.Models.Donation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout Admin.cshtml";
}



<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Donations</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Donations</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">هل أنت متأكد من إتمام العملية والحذف</strong>
                        <span class="float-right">
                            <a href="@Url.Action("Index")">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                                    <i class="fa fa-backward"></i> Back
                                </button>
                            </a>
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="text-add" class="control-label col-md-2">المبلغ</label>
                                @*@Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-10">
                                    @Html.DisplayFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-actions no-color">
                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




@* *@
@* <h2>Delete</h2> *@
@* *@
@* <h3>Are you sure you want to delete this?</h3> *@
@* <div> *@
@*     <h4>Donation</h4> *@
@*     <hr /> *@
@*     <dl class="dl-horizontal"> *@
@*         <dt> *@
@*             @Html.DisplayNameFor(model => model.IsCredit) *@
@*         </dt> *@
@* *@
@*         <dd> *@
@*             @Html.DisplayFor(model => model.IsCredit) *@
@*         </dd> *@
@* *@
@*         <dt> *@
@*             @Html.DisplayNameFor(model => model.Cost) *@
@*         </dt> *@
@* *@
@*         <dd> *@
@*             @Html.DisplayFor(model => model.Cost) *@
@*         </dd> *@
@* *@
@*         <dt> *@
@*             @Html.DisplayNameFor(model => model.User.Password) *@
@*         </dt> *@
@* *@
@*         <dd> *@
@*             @Html.DisplayFor(model => model.User.Password) *@
@*         </dd> *@
@* *@
@*     </dl> *@
@* *@
@*     @using (Html.BeginForm()) { *@
@*         @Html.AntiForgeryToken() *@
@* *@
@*         <div class="form-actions no-color"> *@
@*             <input type="submit" value="Delete" class="btn btn-default" /> | *@
@*             @Html.ActionLink("Back to List", "Index") *@
@*         </div> *@
@*     } *@
@* </div> *@
