@model IEnumerable<ChairtyApp.Models.requestTbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.probStatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userTbl.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.probStatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userTbl.userName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.requestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.requestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.requestId })
        </td>
    </tr>
}

</table>
