<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> جمعيتي </title>

    @*<link href="~/Content/Style/english.css" rel="stylesheet" />
        <link href="~/Content/Style/YouTubePopUp.css" rel="stylesheet" />
        <link href="~/Content/Style/style.1.css" rel="stylesheet" />
        <link href="~/Content/Style/jquery.fancybox.min.css" rel="stylesheet" />*@

    <link href="~/Content/Style/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/Style/frame.css" rel="stylesheet" />
    <link href="~/Content/Style/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Style/animate.css" rel="stylesheet" />
    <link href="~/Content/Style/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/Style/style.css" rel="stylesheet" />
    <link href="~/Content/Style/mobile.css" rel="stylesheet" />
    <link href="~/Content/assets/css/blueimp-gallery.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="css/english.css">-->
    @*@Styles.Render("~/Content/css")




        @Scripts.Render("~/bundles/modernizr")*@
</head>

<body style="min-height:100vh !important;">
    <div class="master" style="min-height:100vh !important">

        <header>
            <div class="container-donate.html">
                <div class="top-menu">
                    <div class="social col-xs-12 col-sm-3">
                        <ul>
                            <li class="">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    <i class="fa fa-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="date col-xs-12 col-sm-6" style="width: 40%">
                        <ul class="list-inline pull-left flip sm-pull-none sm-text-center ">
                            <li class=" pl-10 pr-10">
                                <i class="fa fa-phone text-white"></i>
                                <a class="text-white" href="#">123-456-789</a>
                            </li>
                            <li class="text-white  pl-10 pr-10">
                                <i class="fa fa-clock-o text-white"></i> من الاثنين الي الجمعه 8:00 الي 2:00
                            </li>
                            <li class=" pl-10 pr-10">
                                <i class="fa fa-envelope text-white"></i>
                                <a class="text-white" href="#">contact@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons col-xs-12 col-sm-3" style="width: 29%">
                        <ul class="list-inline pull-left flip sm-pull-none sm-text-center ">
                            <li>
                                <a class="btn btn-default btn-color" href="@Url.Action("Create","Donations")">تبرع الآن</a>
                            </li>
                            <li>
                                <a class="btn btn-default btn-color" href="@Url.Action("Login","Account")">إنضم لنا</a>
                            </li>
                            <li>
                                <a class="btn btn-default btn-color" href="@Url.Action("Create","Requists")">إضافه حاله ! </a>
                            </li>
                            <li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account"))
                                    {
                                        @Html.AntiForgeryToken()

                                        <input type="submit" value="Logout" class="btn btn-default" />
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        @RenderBody()

        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <div class="bottom-footer">
            <div class="container">
                <p class="text-center"> Mohamed Eldwansy, حقوق الطبع والنشر &copy; , جميع الحقوق محفوظه </p>
            </div>
        </div>
    </div>

    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/bootstrap.js"></script>
    <script src="~/Content/Scripts/head.js"></script>
    <script src="~/Content/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Content/Scripts/animat.js"></script>
    <script src="~/Content/Scripts/scrollspy.js"></script>
    <script src="~/Content/assets/js/jquery.blueimp-gallery.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
